@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor01:#ff8d02;
    --cor02:#a55901;
    --cor03:#cf6f01;

    --fonte-corpo: 'Lato', sans-serif;
    --fonte-titulo: 'Montserrat', sans-serif;
}

body{
    min-height: 100vh;
    margin-top: -30px;
    font-family: var(--fonte-corpo);
}

.imagen#cabeca{
    margin-top: 30px;
    padding-bottom: 8px;
    height: 350px;
    background-image: url('imagens/capa-mamas.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

nav{
    margin-bottom: 20px;
    padding: 13px;
    background-color: #914f02;
    box-shadow: 1px 7px 9px 0px #00000096;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: var(--fonte-corpo);
    font-size: 20px;
    padding: 6px;
    margin-left: 20px;
    border: 2px solid var(--cor03);
    border-radius: 10px;
}

nav a:hover{
    background-color: var(--cor01);
    transition: 0.4s;
}

h1{
    display: block;
    margin: auto;
    padding: 10px;
    width: 200px;
    color: black;
    border: 2px solid var(--cor03);
    border-radius: 10px;
    font-size: 50px;
    font-family: var(--fonte-titulo);
    text-align: center;
}

img{
    display: block;
    margin: auto;
    padding-top: 20px;
}

a > img{
    display: inline-block;
    position: relative;
    left: 45%;
    padding: 6px;
    margin: auto;
    height: 50px;
    width: 50px;
}

footer{
    font-family: var(--fonte-titulo);
    font-size: 18px;
    padding: 4px;
    background-color: #914f02;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

